<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.todaybook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-permission
            android:name="android.permission.PACKAGE_USAGE_STATS"
            tools:ignore="ProtectedPermissions" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <application
            android:allowBackup="false"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/icon"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".CameraDetailActivity"></activity>
        <activity android:name=".CameraActivity2" />



        <uses-library android:name="org.apache.http.legacy" android:required="false"/>


        <activity android:name=".friendfindLib" />
        <activity android:name=".Guestlib" />
        <activity android:name=".notification" />

        <activity
                android:name=".CameraActivity"
                android:exported="true" />
        <activity android:name=".login" />
        <activity android:name=".ranking" />
        <activity android:name=".popupActivity" />
        <activity android:name=".FriendlibActivity" />
        <activity android:name=".ReadOrRead" />
        <activity android:name=".didbooklib_detail" />
        <activity android:name=".willbooklib_detail" />
        <activity android:name=".frienddidbook_detail" />
        <activity android:name=".friendwillbook_detail" />
        <activity android:name=".profile" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyB1_5gyC0obWWZxOSsVOUsFgGAb6W00dGQ" />

        <activity
                android:name=".MapsActivity"
                android:label="@string/title_activity_maps" />
        <activity
                android:name=".MylibActivity"
                android:label="@string/title_activity_mylib"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".friendList" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapsActivity2" />
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_push" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />

        <activity android:name=".friendnoti">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>
    </application>

</manifest>